<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>What I Had for Dinner</title>
  <!--attach stylesheet-->
  <head>
    <!--animate.css-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
  <!--our stylesheet-->
  <link rel="stylesheet" href="/stylesheets/style.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap">
</head>

<body>
  <div class="wrapper">
      <header class="hero">
          <div>
            <!--navbar menu-->
            <nav class"nav">
                    <a class="link" href="/">Home</a>
                    <a class="link" href="/dashboard">Dashboard</a>
                    <!--only appear if logged in-->
                    {{#if loggedIn}}
                    <a class="link" href="/" id="logout">Logout</a>
                    <!--appear if not logged in-->
                    {{else}}
                    <a class="link" href="/login">Login</a>
                    {{/if}}
                </nav>          
          </div>

          <h1 class="app-title"><i class="fab "></i>What I Had for Dinner</h1>
      </header>

    <main>
      {{{ body }}}
    </main>
  </div>
    <!--if logged in, provide js file to log out-->
    {{#if loggedIn}}
    <script src="/javascript/logout.js"></script>
    {{/if}}

</body>

</html>